@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

/* @import url(https://fonts.googleapis.com/css?family=Poiret+One:regular); */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}

.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.home-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 500px;
  background: #031540;
  border-radius: 50%;
  border:25px solid #fff;
  outline: 25px solid #031540;
}



.home-img img {
  padding: 10px;
  margin: 10px;
  border-radius: 50%;
}

.home-content {

  width: 800px;
  color: #000;
  text-align: right;
}

.home-content h1 {
  font-size: 2.3em;
}

.home-content h3 {
  font-size: 2em;
  color: transparent;
  -webkit-text-stroke: .5px #fff;/* like outline*/
  background-image: linear-gradient(#00abf0,#00abf0);
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  background-position: -410px 0;
  animation: animationtext 6s linear infinite;/*animation-iteration-count: infinite;, animation-timing-function: linear;*/
}

@keyframes animationtext {
  0%, 95%,100% {
  background-position: -410px 0;
  }
  65%,85% {
    background-position: 0 0;
  }
}
.home-content p {
  font-size: 1.1em;
  margin-top: 20px;
}
.home-content .home-sec {
  margin: 25px 0 40px;
}

.home-content .home-sec a{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 50%;
  font-size: 1.9em;
  color: #00abf0;
  text-decoration: none;
  margin-left: 12px;
  transition: .5s;
}

.home-content .home-sec a:hover {
  background: #00abf0;
  color: #fff;
  border-color: #00abf0;
  box-shadow: 0 0 10px #00abf0;/* offset-x | offset-y | blur-radius | spread-radius | color */
}

.home-content .btn {
  padding: 12px 35px;
  background: #00abf0;
  border-radius: 40px;
  font-size: 1.3em;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  box-shadow: none;
  transition: .5s;
}

.home-content .btn:hover {
  box-shadow: 0 0 10px #00abf0;
}

